* {
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
}

.sidenav {
    height: 100%;
    width: 15em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6B7A99;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a:hover {
    background-color: #575f75;
    color: white;
}

.sidenav .navbar-header {
    padding: 10px 15px;
    text-align: center;
    background-color: #566279;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

html {
    background-color: #f1f4f6;
}

.main {
    margin-left: 15em;
    padding: .5em;
}

.blog {
    text-align: justify;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog p {
    line-height: 1.5em;
    margin-bottom: 0.5em;
}

.centered {
    text-align: center;
}

.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-bottom: 2em;
}

.form-content {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form-content p {
    margin: 10px 0;
}

.form-content input,
.form-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.action-button {
    background-color: #6B7A99;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 100%;
    box-sizing: border-box;
}

.action-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #6B7A99;
}

.full-width-container {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.blog h3 {
    text-align: center;
}

.blog a {
    float: right;
    text-decoration: none;
    color: #566279;
    margin-left: 10px;
}

.blog:after {
    content: "";
    display: table;
    clear: both;
}

.form-container input,
.form-container textarea,
.form-container select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.blog h2 {
    text-align: center;
}

.links {
    text-align: center;
}

h1,
h4 {
    text-align: center;
}

.form-container2 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.form-container2 button {
    width: 80%;
}