{% extends "root.html" %}

{% block content %}
<div class="sidenav">
    <div class="navbar-header">Hello, {{ request.user }}</div>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'dashboard' %}">Home</a>
</div>
<div class="main">
{% block title %}
{% comment %} <div class="centered"> {% endcomment %}
    <h1>Dashboard</h1>

    <h1><a class="action-button" href="{% url 'create_blog_post' %}">Create Blog Post</a></h1>

    <h1><a class="action-button" href="{% url 'view_my_blogs' %}">Manage Blog Posts</a></h1>

    <h1><a class="action-button" href="{% url 'subscribe' %}">Manage Subscriptions</a></h1>

    {% if role.name == 'Admin' %}
        {% if blogs %}
        <div class="full-width-container">
            <h1>Latest Blogs:</h1>
            <form method="POST" class="form-content">
                {% csrf_token %}
                {% for blog in blogs %}
                    {% if blog.author.username != request.user.username %}

                    {% now "Y" as current_year %}
                        <div class="blog">

                            <h3>{{ blog.title }} - {{ blog.author.username }}</h3>

                            <p>{{ blog.post }}</p>
                                
                            {% if blog.created_at|date:"Y" == current_year %}
                                <p>{{ blog.created_at|date:"M d" }}</p>
                            {% else %}
                                <p>{{ blog.created_at|date:"M d, y" }}</p>
                            {% endif %}
                            {% comment %} <a class="action-button" href="{% url 'delete' blog.title %}">Delete</a> {% endcomment %}
                        </div>
                    {% endif %}
                {% endfor %}
            </form>
        </div>
        {% endif %}
    {% endif %}
{% comment %} </div> {% endcomment %}
{% endblock title %}
</div>
{% endblock content %}
