{% extends "root.html" %}

{% block content %}
<h1>Dashboard</h1>
<p>Hello, {{request.user}}</p>
<p>{{request.user.role}}</p>
<span><a href = {% url "logout" %}>Logout</a></span>

<h1><a href = {% url "create_blog_post" %}>Create Post</a></h1>

<h1><a href = {% url "view_my_blogs" %}>View All Blogs</a></h1>

{% if role.name == 'Admin' %}
        <h1>Subscribers Blogs:</h1>
        {% for blog in blogs %}
            <p>{{blog.title}}</p>
            <p>{{blog.user.username}}</p>
            <p>{{blog.post}}</p>
        {% endfor %}
{% endif %}


{% endblock content %}

