{% extends "dashboard.html" %}

{% block title %}
<div class="form-container">
    <h1>Current Creators:</h1>
    <h4>Click to Subscribe</h4>
    <form method="post">
        {% csrf_token %}
        {% for youtuber in youTubers %}
            {% if request.user != youtuber %}
                <p>
                    <button class="action-button" type="submit" name="subscribe_username" value="{{ youtuber.username }}">
                        Subscribe to {{ youtuber.username }}
                    </button>
                </p>
            {% endif %}
        {% endfor %}
    </form>

    <h1>Already Subscribed To:</h1>
    <h4>Click to Unsubscribe</h4>
    <form method="post">
        {% csrf_token %}
        {% for subscription in already_subscribed %}
            <p>
                <button class="action-button" type="submit" name="unsubscribe_username" value="{{ subscription.username }}">
                    Unsubscribe from {{ subscription.username }}
                </button>
            </p>
        {% endfor %}
    </form>

    {% if role == 'Admin' %}
        {% if subscribers %}
            <form method="post">
                {% csrf_token %}
                <h1>Current Subscribers:</h1>
                <h4>Click to Block</h4>
                {% for subscriber in subscribers %}
                    <p>
                        <button class="action-button" type="submit" name="block" value="{{ subscriber.subscriber.username }}">
                            Block {{ subscriber.subscriber.username }}
                        </button>
                    </p>
                {% endfor %}
            </form>
        {% endif %}

        {% if blocked_users %}
            <h1>Blocked Users:</h1>
            <form method="post">
                {% csrf_token %}
                {% for user in blocked_users %}
                    <p>
                        <button class="action-button" type="submit" name="unblock" value="{{ user.subscriber.username }}">
                            Unblock {{ user.subscriber.username }}
                        </button>
                    </p>
                {% endfor %}
            </form>
        {% endif %}
    {% endif %}
</div>
{% endblock title %}
