{% extends "dashboard.html" %}

{% block title %}
<h1>Choose A Post To Update</h1>
<div class = 'form-container'>
<form method = 'POST'>
    {% csrf_token %}
    <p>{{form.title}}</p>
    <p>{{form.content_creator}}</p>
    <p>{{form.post}}</p>
    {% comment %} {{form.as_p}} {% endcomment %}
<button type = 'submit'class="action-button"/>Submit</button>
</form>
<button class="action-button" type="button" onclick="window.location.href='{% url 'dashboard' %}'">Cancel</button>
</div>
{{form.errors}}
{% endblock title %}