{% extends "dashboard.html" %}

{% block title %}
<h1>Update Title And/Or Post Content</h1>
<div class = 'form-container'>
<form method = 'POST'>
    {% csrf_token %}
    <p>{{form.title}}</p>
    {% comment %} <p>{{form.content_creator}}</p> {% endcomment %}
    <p>{{form.post}}</p>
    {% comment %} {{form.as_p}} {% endcomment %}
<button type = 'submit'class="action-button"/>Submit</button>
</form>
<button class="action-button" type="button" onclick="window.location.href='{% url 'view_my_blogs' %}'">Cancel</button>
</div>
{% endblock title %}