{% extends "root.html" %}

{% block content %}
<div>
    <h1>{{request.user.username}} Blogs:</h1>
    <hr>
    {% for post in posts %}
        <div>
        {% now "Y" as current_year %}
        <h3>{{post.title}}</h3>
        {% if post.created_at|date:"Y" == current_year %}
            <p>{{ post.created_at|date:"M d" }}</p>
        {% else %}
            <p>{{ post.created_at|date:"M d, Y" }}</p>
        {% endif %}
        
        <p>{{post.content_creator}}</p>
        <p>{{post.post}}</p>
        <a href = {% url "update" post.title%}>Update</a>
        <a href = {% url "delete" post.title%}>Delete</a>
        </div>
    {% endfor %}
    
    <form method = "POST">
        {% csrf_token %}
    {% for post in users_posts %}
    {% if post.author != request.user %}
    <div>
        {% now "Y" as current_year %}
        <h3>{{post.title}}</h3>
        <h5>{{post.author}}</h5>
        {% if post.created_at|date:"Y" == current_year %}
            <p>{{ post.created_at|date:"M d" }}</p>
        {% else %}
            <p>{{ post.created_at|date:"M d, Y" }}</p>
        {% endif %}
        
        <p>{{post.post}}</p>
        <button type = 'submit' name = 'user_post' value = '{{post.author}} {{post.title}}'>Delete?</button>
        </div>
    {% endif %}
    {% endfor %}
    </form>
{% endblock content %}

{% comment %} <script>
    document.querySelectorAll('.update_button').forEach(button => {
        button.addEventListener('click', () => {
            const post_title = button.getAttribute('data-title');
            window.location.href = `{% url "update" %}?title=${post_title}`;
        })
    })
</script> {% endcomment %}