{% extends "dashboard.html" %}

{% block title %}
<div>
    {% for post in posts %}
        <div class = 'blog'>
            {% now "Y" as current_year %}
            <h2>{{post.title}}</h2>

            <p>{{post.post}}</p>
            <hr>
        <div>
        {% if post.created_at|date:"Y" == current_year %}
            <p>{{ post.created_at|date:"M d" }}</p>
        {% else %}
            <p>{{ post.created_at|date:"M d, Y" }}</p>
        {% endif %}
        <p class = 'edit'>
            <a href = {% url "update" post.title%}>Update</a>
            <a href = {% url "delete" post.title%}>Delete</a>
            <p>
        </div>
    </div>
    {% endfor %}   
</div>
        {% if users_posts %}
        <form method = "POST">
            {% csrf_token %}
        <h1>Subscribers' Posts</h1>
        <hr>
    {% for post in users_posts %}
    {% if post.author != request.user %}
    <div class = 'blog'>
        {% now "Y" as current_year %}
        <h2>{{post.title}} - {{post.author}}</h2>
        <p>{{post.post}}</p>
        <hr>
        {% if post.created_at|date:"Y" == current_year %}
        <p>{{ post.created_at|date:"M d" }}</p>
    {% else %}
        <p>{{ post.created_at|date:"M d, Y" }}</p>
    {% endif %}
    <a href = {% url "delete" post.title%}>Delete</a>
        </div>
    {% endif %}
    {% endfor %}
        {% endif %}
 
    </form>
{% endblock title %}